footer {
	margin-top: auto;
}
.hidden {
	display: none;
}
.popup {
	padding: 10px;
	border: solid 1px;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
}
.content_top {
	margin-top: 46px;
}
.text_dec {
    color: #fff;
}
.popup-form {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
}
.close-popup {
    position: absolute;
    top: -3px;
    right: 7px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}
.close-popup:before {
    content: '';
    background-color: #333;
    position: absolute;
    height: 1px;
    width: 25px;
    top: 5px;
    left: -4px;
    transform: rotate(-45deg);
}
.close-popup:after {
    content: '';
    background-color: #333;
    position: absolute;
    height: 1px;
    width: 25px;
    top: 5px;
    left: -4px;
    transform: rotate(45deg);
}
.msg {
    border: 2px solid #0d6efd;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    color: #212529;
    margin: 1rem auto;
    width: 300px;
}
.page {
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.cart-form {
    margin: 0px 0px 30px;
    border: solid 2px #0d6efd;
    padding: 10px;
    border-radius: 10px;
    background-color: #9beafa26;
}
.popup-btn-del {
    padding: 10px;
    z-index: 1;
    left: 50%;
    height: 0px;
    transform: translate(85%, -1190%);
    max-width: 250px;
    display: none;
}
.msg_del {
    font-weight: 700;
}